/*Colors*/

$color-lightblue: '#C7F7FF';
$color-medblue: '#89C0C9';
$color-darkblue: '#3a5E63';
$color-lightbrown: '#C9A689';
$color-darkbrown: '#7C593C';
$color-lightgrey: '#d4d4d4';
$color-darkgrey: '#222';
$color-white: ' #fff';

/*Fonts*/

$font-default: 'Josefin Sans',
‘Trebuchet MS’,
Helvetica,
sans-serif;
$font-headings: Cardo,
‘Palatino Linotype’,
‘Book Antiqua’,
Palatino,
serif;
$smallBP: 701px;
$medBP: 900px;
$largeBP: 1400px;